body {
    background-image: url('img/Wood-Background.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
}
body .container {
    max-width: 75%;
}
.headline {
    font-family: 'Bevan', cursive;
    font-size: 40pt;
}
.backdrop {
    background-color: #444;
    color: white;
    opacity: .75;
    padding: 1em;
}
.container ul {
	margin-bottom: 0;
}