body {
    margin: 0;
    background-color: #001220;
    background-image: url('/img/top-splash.svg');
    background-position: top;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

section.top {
    font-family: 'Ubuntu', sans-serif;
}